name: Force Deploy DemDem
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install & Build
        # On force l'installation et on ignore les erreurs de TypeScript
        run: |
          npm install --legacy-peer-deps
          CI=false npm run build

      - name: Check if Dist exists
        run: ls -al dist

      - name: Firebase Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          channelId: live
          projectId: evenpasssenegal
